{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'articles/css/bootstrap5/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'articles/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'articles/css/master.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'articles/img/coding.png' %}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <script type="text/javascript" src="{% static 'articles/js/scripts.js' %}"></script>
    <header class="bg-dark ">
        <nav class="p-2">
            <a href="{% url 'articles' %}" class="navbar-brand text-white logo">CArticles</a>

            {% if request.user.is_authenticated %}
            <a class="navbar-brand btn btn-info float-end mr-3 text-white logu" href="{% url 'logout' %}">Log out</a>
            <a href="#" class="navbar-brand float-end mr-3 text-white usern">Username: {{ user.username }}</a>
            
            {% else %}
            <a href="{% url 'login' %}" class="navbar-brand btn btn-danger float-end mr-3 text-white log" role="button">Login</a>
            <a href="{% url 'register' %}" class="navbar-brand btn btn-info float-end mr-3 text-white reg" role="button">Register</a>
            {% endif %}
        </nav>
    </header>

    <aside class="sidebar" id="side">
            <a href="{% url 'articles' %}">Articles</a>

            {% if request.user.is_authenticated %}
            <a href="{% url 'write_article' %}">Write article</a>
            <a href="{% url 'your_articles' %}">Your articles</a>
            <a href="{% url 'profile' %}">Profile</a>
            {% endif %}

            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'about' %}">About</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </aside>
    
    <main class="content" id="Content">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>