{% extends 'articles/base.html' %}
{% load static %}

{% block title %}Article-{{ artic.pk }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'articles/css/read_artic.css' %}">
{% endblock %}

{% block content %}
<h1 class="article_caption">Read article</h1>
<img height="auto" width="100%" src="{{ artic.photo.url }}" alt="">
<h3 class="article_title">{{ artic.title }}</h3>
{% if artic.user == request.user.username %}
<h4 class="article_author">Author: <a href="{% url 'profile' %}">{{ artic.user }}</a></h4>
{% else %}
<h4 class="article_author">Author: <a href="{% url 'others_profile' artic.user %}">{{ artic.user }}</a></h4>
{% endif %}
<p class="article_content">{{ artic.content }}</p>
<p class="article_date">{{ artic.time_update }}</p>
<p class="article_button"><a href="{% url 'articles' %}">Back</a></p> 
{% endblock %}