{% extends 'articles/base.html' %}

{% load static %}
{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'articles/css/login.css' %}">
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h1>Login</h1>
    <div class="form-outline mb-4">
        {{ form.username }}
    </div>
    <div class="form-outline mb-4">
        {{ form.password }}
    </div>
        <button class="btn btn-primary" type="submit">Login</button>
        <a class="text-muted" href="#">Forgot password?</a>
</form>
{% endblock %}