{% extends 'articles/base.html' %}

{% load static %}
{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'articles/css/login_register.css' %}">
{% endblock %}

{% block content %}
<div class="login_form">
    <form method="post">
        {% csrf_token %}
        <h1>Login</h1>
        <div>{{ form.username }}</div>
        <div>{{ form.password }}</div>
        <div><button class="btn btn-primary" type="submit">Login</button></div>
        <div><a class="text-muted" href="#">Forgot password?</a></div>
    </form>
</div>
{% endblock %}